capitains-nautilus @ git+https://github.com/capitains/Nautilus
cltk==1.1.6 
dices-client @ git+https://github.com/cwf2/dices-client
grc-proiel-sm @ https://huggingface.co/Jacobo/grc_proiel_sm/resolve/main/grc_proiel_sm-any-py3-none-any.whl
jupyter==1.0.0
la-core-web-sm @ https://huggingface.co/latincy/la_core_web_sm/resolve/main/la_core_web_sm-any-py3-none-any.whl
matplotlib==3.7.1
matplotlib-inline==0.1.6
MyCapytain==3.0.2
networkx==3.1
nltk==3.8.1
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.1
Pillow==9.5.0
qwikidata==0.4.2
scikit-learn==1.2.2
scipy==1.10.1
spacy